#chatbox{
    width:100% ;
    resize: vertical;
    max-width: 100% !important;
    /* max-height: 200px; */
    /* -webkit-box-shadow: 0px -2px 10px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0px -2px 10px -1px rgba(0,0,0,1);
    box-shadow: 0px -2px 10px -1px rgba(0,0,0,1); */
    /* cursor: s-resize */
    box-shadow: 0 1px 3px 1px rgba(60,64,67,.15);

}
#titlebar{
    display: none !important;
}
.chat-content{
    width: 100% !important;
    height: 200px ;

}
#chattext .time{
    float: left !important;
    margin-left: 0px !important;
    margin-right: 7px !important;
}

#chatbox, #chaticon{
    bottom: 0 !important;
    right: 0px !important;
}