#chatbox{
    width:100% ;
    resize: vertical;
    max-width: 100% !important;
    max-height: 200px;
}
#titlebar{
    display: none !important;
}
.chat-content{
    width: 100% !important;
    height: 200px !important;
}
#chattext .time{
    float: left !important;
    margin-left: 0px !important;
    margin-right: 7px !important;
}

#chatbox, #chaticon{
    bottom: 0 !important;
    right: 0px !important;
}